{% extends 'blog/home.html' %}
{% block side %}
  
    {% for post in posts %}
        {% if  forloop.counter <= 5 %}
                <li><a href="{% url 'post_detail' post.slug  %}">{{post.tytul}}</a></li>
        {% endif %}
        
    {% endfor %}
{% endblock side %}

{% block secondside %}
{% for kategoria in kategorie %}
    <li class="cat-item cat-item-16"><a href="{% url 'kategorie' kategoria.id %}" name ='python'>{{kategoria.kategoria}}</a></li>
{% endfor %}
    
        
{% endblock secondside %}             
           
{% block content %}
<p style="text-align:justify;">    
   Wiadomość została wysłana

</p>
{% endblock content %}